@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


/* Background colours*/

body {
    background-color: #212529;
    color: #fafafa;

}


table, th, td {
    border-bottom: 1px solid #8a8a8a;
}

th {
    border-top: 1px solid #8a8a8a;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
    color: #f59c27;
}


table {
    background-color: #212529;
    position: relative;
}

tr {
    color: #fafafa;
    height: 40px;
    font-family: 'Roboto', sans-serif;
}

.time-head {
    padding-left: 10px;
}

.time-data {
    padding-left: 16px;
}

.txn-head {
    padding-left: 10px;
}

.txn-data {
    padding-left: 14px;
}

.hash-head {
    padding-left: 10px;
}

.hash-data {
    padding-left: 10px;
}

.limit-head {
    padding-right: 10px;
}

.limit-data {
    padding-right: 18px;
}


/*----Search-----*/
.search-div {
    padding-top: 100px;
    padding-bottom: 100px;
}

#search-bar {
    background-color: #212529;
    color: #fafafa;
    border: solid 1px #fafafa;
    width: 400px;
    height: 35px;
}

.search-button {
    border: solid 1px #fafafa;
    border-radius: 0px;
    height: 35px;
    color: #f59c27;
    margin-top: -3px;
    font-family: 'Zen Dots', cursive;
}

#block-table, #address-table {
    padding-bottom: 100px;
    
    
}

#addressTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 0px !important;
}

#addressTable th, #addressTable td {
    border: 0px !important;
}

